<ion-view class="plug-backdrop">
  <ion-header-bar class="bar-positive bar bar-header disable-user-behavior"> <button ng-click="complainmailModal.hide()"  class="button back-button buttons button-clear header-item"><i class="icon ion-android-arrow-back plug-color"></i></button>
    <div class="title title-center header-item sidemenu-header">Complaint Center</div>
  </ion-header-bar>
  <ion-content>
    
  <div class="padding">
  <div class="complain-subtext">
  <span class="complain-text">The following information will be included in email</span>
  </div>
    
 <div class="complainmail-input">
  <label class="item ">
    <span>Name</span><br>
    <p>{{complaintData.first_name}} {{complaintData.last_name}}</p>
  </label>
  <label class="item ">
    <span>E-mail Address</span><br>
    <p>{{complaintData.email}}</p>
  </label>
</div>
<label class="item">
    <span>Order Issue</span><br>
    <div class="item item-thumbnail-left complainmail-shoes">
      <img src="{{complaintData.img_url}}" class="yourorders-image">
      <h3 class="yourorders-color">{{complaintData.product_title}}</h3>
      <p>sold by:
        <u class="yourorders-subcolor">{{complaintData.seller_name}}</u>
        <p>order placed:{{complaintData.purchase_date}}</p>
      </p>
    </div>
  </label>
</div>
</div>

<div class="item complainmail-text">
  <span>Please tell us a little more about your issue:</span>
</div>
     <div class="padding">
      <label class="item item-input">
    <input type="text" placeholder="Subject e.g. Order not received" ng-model="complain.subject">ionc
  </label>
  <label class="item item-input complainmail-textarea">
    <textarea rows="5" placeholder="Requried" ng-model="complain.message"></textarea>
  </label>
  <div class="row">
  <div class="col text-center">
    <button class="button button-positive complainmail-button" ng-click="sendComplaint()">SEND E-MAIL</button>
  </div>
     </div>
</div>
  </ion-content>
<div class="bar bar-footer complainmail-footer">
    <span class="complainmail-text">You should receive a response from one of our executive in next 1-2 working days</span>
  </div>
</ion-view>
