<ion-view class="plug-backdrop">
  <ion-header-bar class="bar-positive bar bar-header disable-user-behavior"> <button ng-click="complainModal.hide()" class="button back-button buttons button-clear header-item"><i class="icon ion-android-arrow-back plug-color"></i></button>
    <div class="title title-center header-item sidemenu-header">Complaint Center</div>
  </ion-header-bar>
  <ion-content class="padding">


    <div class="complain-subtext">
      <span class="complain-text"> Select items that relate to the issue</span>
    </div>

    <div class="list">

      <label class="item item-input item-select">
    <div class="item complain-order">
      <h3>order placed in past 3 months <i class="icon ion-chevron-right complain-chevron"></i></h3> 
    </div>
  </label>

    </div>


    <div class="item item-thumbnail-left complain-phone" ng-repeat="order in Orders">
      <img src="{{order.img_url}}" class="complain-image">
      <label class="checkbox-right plug-float-right">
         <input type = "checkbox" />
      </label>
      <i class="complain-color">{{order.product_title}}</i>
      <p>sold by:
        <u class="complain-subcolor">{{order.seller_name}}</u>
      </p>
      <p>order placed:{{order.purchase_date}}</p>

    </div>


  </ion-content>
  <div class="bar bar-footer complain-footer">

    <div class="col text-center">
      <button class=" button-positive complain-button" ng-click="complainMail('2')">
           CONTINUE
        </button>

    </div>
  </div>
</ion-view>