﻿<ion-view title="Dashboard">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear plug-hamburger plug-color" menu-toggle="left">
        </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear plug-filter plug-color" ng-click="filterMenu()">
        </button>
  </ion-nav-buttons>
  <div class="has-header list filter-header" ng-if="filter">
    <div class="filter-header-text">
      <span>Filter</span>
      <i class="icon ion-close plug-float-right" ng-click="filterMenu()"></i>
    </div>
    <div class="filter-ranger-box">
      <div class="plug-float-left">
        <h4>Miles Range</h4>
      </div>
      <div class="plug-float-right">
        <h5>Reset</h5>
      </div>
      <div class="list filter-ranger-middle">
        <rzslider class="custom-slider" rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue" rz-slider-options="slider.options"></rzslider>
      </div>
      <button class="button  button-positive filter-button">
          FILTER
        </button>
    </div>
    <br>
  </div>
  <ion-content class="has-header dashboard">

    <div class="col col-50" ng-if="width" ng-class="{'plug-float-left': $index % 2 === 0 , 'plug-float-right': $index % 2 !== 0 }"
      ng-repeat="menuList in menu track by $index" ng-click="description(menuList.id)">

      <div>
        <div class="item item-image brdrRadius">
          <img ng-src="{{menuList.img_url}}" width="100%" />
          <div class="itemDesc">
            <p class="plug-float-left">
              <span class="handleName">{{menuList.product_title}}</span>
              <span><i class="icon ion-navigate"></i> {{menuList.distance}} mi</span>
            </p>
            <p class="plug-float-right">
              <span class="description-Overline">&#36;{{menuList.price}}</span>
              <span>&#36;{{menuList.price}}</span>
            </p>
          </div>
        </div>
      </div>

    </div>
    <div class="col col-100" ng-if="!width" ng-repeat="menuList in menu track by $index" ng-click="description(menuList.id)">
      <div>
        <div class="item item-image brdrRadius">
          <img ng-src="{{menuList.img_url}}" width="100%" />
          <div class="itemDesc">
            <p class="plug-float-left">
              <span class="handleName">{{menuList.product_title}}</span>
              <span><i class="icon ion-navigate"></i> {{menuList.distance}} mi</span>
            </p>
            <p class="plug-float-right">
              <span class="description-Overline">&#36;{{menuList.price}}</span>
              <span>&#36;{{menuList.price}}</span>
            </p>
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>