<ion-view class="plug-backdrop">
  <ion-header-bar class="bar-light bar bar-header disable-user-behavior invite-headercolor"> <button ng-click="closeModal()" class="button back-button buttons button-clear header-item"><i class="icon ion-android-arrow-back plug-color"></i></button>
    <div class="title title-center header-item sidemenu-header">Invite a Friend</div>
  </ion-header-bar>
  <ion-content>
    <div class="invite-background">
      <center class="invite-firstline1">Each friend can give you</center>
      <center class="invite-firstline1">$1</center><br>
      <center class="invite-secondline2">Get $1 @ThePlug cash per friend who</center>
      <center class="invite-thirdline3"> joins & installs the app successfully </center>
      <br>
      <center class="invite-thirdline3">Tip:Users who invite using facebook,</center>
      <center class="invite-thirdline3">twitter and instagram, earn upto $10</center>
      <center class="invite-thirdline3">from inviting friends.</center>
    </div>
    <div class="padding">
      <div class="invite-row">
          <div class="col col-50 plug-float-left invite-facebook"><center>
              <image src="/img/facebook.png" class="invite-image">
            </center>
            <center class="padding-top">Invite Facebook friends</center>
          </div>
          <div class="col col-50 plug-float-right invite-twitter"><center>
              <image src="/img/twitter.png" class="invite-image">
            </center>
            <center class="padding-top">Invite Twitter friends</center>
          </div>
        </div>
        <hr class="invite-horizontal">
        <div class="invite-row">
            <div class="col col-50 plug-float-left invite-insta"><center>
                <image src="/img/insta.png" class="invite-image">
              </center>
              <center class="padding-top">Invite Instagram friends</center></div>
            <div class="col col-50 plug-float-right invite-twitter"><center>
            <image src="/img/share.png" class="invite-image">
              <center>
                <center class="padding-top">More option</center></div>
          </div>
    </div>
  </ion-content>
</ion-view>