﻿<ion-view title="The Plug" hide-nav-bar="true">
    <ion-content class="login-page padding">

        <form class="list " name="loginForm">
            <ion-list>
                <div class="logo">
                    <img src="img/plug-logo.png">
                </div>

                <div class="list-inset">
                    <label class="item item-icon-left login-label">
      <i class="icon ion-ios-email-outline"></i>
    <input type="email" ng-model="user.email" placeholder="E-mail Address">
  </label>
                </div>
                <div class="list-inset">
                    <label class="item item-icon-left login-label">
      <i class="icon ion-ios-locked-outline"></i>
    <input type="password" ng-model="user.password" placeholder="Password">
  </label>
                </div>
                <button ng-click="login(loginForm,user)" class=" button button-dark  button-block">LOGIN</button>

                     <div class="item-input-wrapper login-label-pincode">

    <input type="number" ng-model="pincode" placeholder="Pincode" class="login-input-pincode">
      <button class="button button-small login-go" ng-click="goPincode(pincode)">
      Go
    </button>
    
  </div>

              
            </ion-list>


            <div class="login-down">Quick login to discover near by products</div><br />

            <div class="paddingTop20">
                <p class="textCenter hrLine">Login or Sign Up</p>
            </div>

            <div class="button-bar">
                <button class="button ion-social-facebook login-social login-fb" ng-click="facebookSignIn()"></button>
                <button class="button ion-social-twitter  login-social login-twitter"></button>
                <button class="button ion-social-instagram login-social login-insta"></button>

            </div>
            <!-- <button ng-click="loginFb('facebook')" class=" button button-positive  button-block icon-left ion-social-facebook "  id="signup-button4">LOGIN WITH FACEBOOK</button> -->

            <div class="col-50 plug-float-left padding-top" ng-click="forgotPassword()">
               <p class="btmText">Forgot Password?</p>
            </div>
            <div class="col-50 plug-float-right padding-top" ng-click="register()">
               <p><u>New here? Sign Up</u></p>
            </div>

        </form>
    </ion-content>
</ion-view>