<ion-view class="plug-backdrop">
  <ion-header-bar class="bar-positive bar bar-header disable-user-behavior"> <button ng-click="closeModal()" class="button back-button buttons button-clear header-item"><i class="icon ion-android-arrow-back plug-color"></i></button>
    <div class="title title-center header-item sidemenu-header">Your Orders</div>
  </ion-header-bar>

  <ion-content >
    <div class="bar bar-subheader yourorders-subheader ">
      <label class="item-input ">
    <i class="icon ion-search yourorders-placeholder-icon"></i>
    <input class="yourorders-search" type="text" placeholder="Search all orders">
    </label>
    </div>
    <div class="yourorders-span">
      <span class="yourorders-headspace">Order in last 3 months</span> <span class="yourorders-vieworder"><u>View all orders</u></span>
    </div>
    <div class="padding">    
      <div class="item item-thumbnail-left yourorder-bottom" ng-repeat="order in Orders">
      <img src="{{order.img_url}}" class="yourorders-image">
      <h3 class="yourorders-color">{{order.product_title}}</h3>
      <p>sold by:
        <u class="yourorders-subcolor">{{order.seller_name}}</u>
        <p>order placed:{{order.purchase_date}}</p>
        <i class="icon ion-chevron-right yourorders-chevron yourorders-icon"></i>
      </p>
    </div></div><br>



  </ion-content>
  <div class="bar bar-footer yourorders-footer">
    <span class="yourorders-text">Total 4 orders found</span>
  </div>
</ion-view>