<<<<<<< HEAD
﻿<ion-view title="Sell">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear plug-hamburger plug-color" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content class="" padding="false">
        <div class="side-space">
            <div class="col-xs-12">
                <div class="product-images">
                    <h4>Product Images</h4>
                    <div class="text-muted">Max 3 images</div>
                </div>
            </div>
            <div class="down-space images">
                <div class="col-sm-12">
                    <img src="img/backg.jpg" alt="back-img"/>
                    <img src="img/backg.jpg" alt="back-img"/>
                    <img src="img/backg.jpg" alt="back-img"/>
                    <div class="add-new-images" ng-click="openActionsheet()">
                        Add Images
                    </div>
                </div>
            </div>

            <div class="form-description">
                <form name="uploadForm">
                    <div class="col-xs-12">
                        <input type="text" class="form-control" id="productName" placeholder="product name" ng-model="upload.product_title">
                    </div>
                    <div class="col-xs-6">
                        <input type="number" class="form-control" id="regular_price" placeholder="Regular Price"  ng-model="upload.price">
                    </div>
                    <div class="col-xs-6">
                        <input type="number" class="form-control" id="discounted_price" placeholder="Discounted Price"  ng-model="upload.discount_price">
                    </div>
                    <div class="col-xs-12">
                        <textarea class="form-control" id="description" placeholder="Description"  ng-model="upload.product_description"></textarea>
                    </div>
                    <div class="col-xs-12">
                        <input type="text" class="form-control" id="location" placeholder="Location"  ng-model="upload.location">
                    </div>
                    <div class="col-xs-12 text-center submit-btn">
                        <button class="btn btn-primary" ng-click="uploadProduct(upload)">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>

    </ion-content>
=======
﻿<ion-view class="plug-backdrop">
  <ion-header-bar class="bar-light bar bar-header disable-user-behavior"> <button ng-click="closeModal()" class="button back-button buttons button-clear header-item"><i class="icon ion-android-arrow-back plug-color"></i></button>
    <div class="title title-center header-item sidemenu-header">Sell</div>
  </ion-header-bar>
  <ion-content class="padding">
    <span class="sell-header">Product Images</span> <span class="sell-maxsize"> (Max 3 images)</span>
    <div class="sell-img">
      <div class="plug-float-left col-33"><img src="/img/fk/zapcase.jpg" class="sell-camera"><i class="icon icon-right ion-ios-close-outline image-cross" ng-click="editProfile()"></i></div>
      <div class="plug-float-left col-33"><img src="/img/fk/zapcase.jpg" class="sell-camera"><i class="icon icon-right ion-ios-close-outline image-cross" ng-click="editProfile()"></i></div>
      <div class="plug-float-left col-33"><img src="/img/fk/zapcase.jpg" class="sell-camera"><i class="icon icon-right ion-ios-close-outline image-cross" ng-click="editProfile()"></i></div>
    </div>

    <div class="list padding-top">
      <label class="item item-input sell-input">
            <input type="text" placeholder="Product Name">
          </label>
    </div>
    <div class="list col-50 plug-float-left sell-regular">
      <label class="item item-input sell-input">
              <input type="text" placeholder="Regular Price">
            </label>
    </div>
    <div class="list col-50 plug-float-right sell-discounted">
      <label class="item item-input sell-input">
                <input type="text" placeholder="Discounted Price">
              </label>
    </div>
    <div class="list">
      <label class="item item-input sell-input">
                  <textarea rows="6" placeholder="Description"></textarea>
                </label>
    </div>
    <div class="list">
      <label class="item item-input sell-input item-icon-right">
                    <input type="text" placeholder="Location">
                    <i class="icon icon-right ion-ios-navigate-outline sell-location-icon"></i>
                    <span class="item-note sell-location">
                        Auto Detect Location
                      </span>
                  </label>
    </div>
        <div class="text-center padding">
          <button class="button button-positive complainmail-button" ng-click="sendComplaint()">Submit</button>
        </div>
  </ion-content>
>>>>>>> 6155604f55ffa887806983ec5396971d90af412c
</ion-view>