/*Dashboard Page*/
.dashboard { padding: 5px; }
.bar { box-shadow: none; }
.dashboard-paragraph{
  font-size: 12px;
  text-align:left;
}
.itemDesc span { display: block; }
.handleName {color: #297ca6; }
.itemDesc p.plug-float-left span { text-align: left; }
.itemDesc p.plug-float-right span { text-align: right; }

.dashboard .row{
  margin: 0;
}

.item-image {

	border-color:#c6c6c6;
}

.item-image img{

  height: 150px;
}

.itemDesc { padding: 10px; border-top:1px solid	#ccc; display: block; }
.brdrRadius { border-radius: 5px; }
.itemDesc p { line-height:24px; }


.custom-slider.rzslider .rz-bubble.rz-limit {
  top: 25px;
}

.custom-slider.rzslider .rz-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  top: -10px;
  background-color: gray;
}

.custom-slider .rz-bar{
  height: 20px;
  border-radius: 20px;
}
.custom-slider .rz-pointer{
  top: -3px;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: 1px solid lightgray;
}
.custom-slider .rz-pointer:after{
  background-color: gray;
  top: 9px;
  left: 9px;
  width: 5px;
  height: 5px;
}

.filter-header {
  position: absolute;z-index: 10;width: 100%;background-color: white;
}

.filter-header-text {
  background-color: lightgrey;
  padding:8px;
}
.filter-ranger-box{
  padding:8px
}
.filter-ranger-middle{
  padding-left: 10vw;
  padding-right: 10vw;
}
.filter-button{
  margin: 0 auto;
  display: block;
  border-radius: 90px;
  width: 150px;
}
/*Dashboard Page End*/

