#map-canvas {
  width: 100%;
  height: calc(100vh - 47px);
}

#wrapper {
  position: relative;
}

#over_map {
  position: absolute;
  top: 10px;
  z-index: 99;
  background-color: transparent;
  padding: 0;
  width: -webkit-fill-available;
  margin-left: 10px;
  margin-right: 10px;
  border: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#map {
  width: 100%;
  height: calc(100vh - 94px);
}

.explore-search{
  padding-left: 6px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  background-color: white;
}

.explore-locate{
  margin-left: 10px;
  padding: 6px;
  width: 36px;
}

.explore-search-input{
  padding-left: 10px !important;
  padding-right: 5px !important;
}

.placeholder-icon{
  font-size: 20px;
  border-right: 1px solid;
}

.explore .gmnoprint{
  right: unset !important;
  bottom: unset !important;
  margin-top: 10px;
}

.explore .gm-style-mtc{
  display: none !important;
}
.explore .gm-style-cc{
  display: none !important;
}

.explore a{
  display: none !important;
}