/*SideMenu Page*/
.sidemenu-header{
  transform: translate3d(0px, 0px, 0px);
  text-align: center !important;
}

.plug-home{
  background-repeat: no-repeat;
  background-position:center;
  background-image: url('../img/icon/home.png');
  background-size: 30px;
}

.plug-fav{
  background-repeat: no-repeat;
  background-position:center;
  background-image: url('../img/icon/fav.png');
  background-size: 30px;
}

.plug-sell{
  background-repeat: no-repeat;
  background-position:center;
  background-image: url('../img/icon/sell.png');
  background-size: 30px;
}

.plug-profile{
  background-repeat: no-repeat;
  background-position:center;
  background-image: url('../img/icon/profile.png');
  background-size: 30px;
}

.plug-filter{
  background-repeat: no-repeat !important;
  background-position:center !important;
  background-image: url('../img/icon/filter.png') !important;
  background-size: 20px !important;
}

.plug-hamburger{
  background-repeat: no-repeat !important;
  background-position:center !important;
  background-image: url('../img/icon/hamburger.png') !important;
  background-size: 20px !important;
}

.plug-explore{
  background-repeat: no-repeat !important;
  background-position:center !important;
  background-image: url('../img/icon/explore.png') !important;
  background-size: 20px !important;
}

.plug-cell-text{
  padding-top: 32px;
  font-size: 9px;
}

.sidemenu-empty-tab {
  pointer-events: none;
}

.sidemenu-timeline{
  background-image: none;
  background-color: #297ca6;
  min-height: 100px;
}

.sidemenu-content{
  top:100px;
}

.sidemenu-image{
  max-height: 55px !important;
  max-width: 55px !important;
}

.sidemenu-name{
  margin-top: 15px !important;
  color: white;
}

.sidemenu-handle{
  color: white !important;
}

.sidemenu-header{
  width: 100%;
}
.disable-clickon-tabs .tab-nav.tabs {
    pointer-events: none !important;
}
/*SideMenu Page End*/