﻿<ion-view title="Description" hide-tabs>
  <ion-content class="has-header description" padding="false">
    <button class=" button button-small button-positive button-buy" ng-click="chat()">Buy Now</button>
    <div>
      <div>
        <carousel interval="myInterval" class="description-carousel">
          <slide ng-repeat="slide in productImage" active="slide.active">
            <img ng-src="{{slide.img_url}}">
            <div class="carousel-caption">
              
            </div>
          </slide>
        </carousel>
      </div>
      <div class="item-divider description-Head">
        Product Information</div>
      <div class="description-Box">

        <div>
          <span>{{productDes.product_title}}</span><span class="description-Price"> ${{productDes.discount_price}}</span> <span class="description-Price description-Overline">${{productDes.price}}<span></div>
  <hr class="description-Underline" />

<div id="list">
<p>{{productDes.product_description}} </p>

</div>
</div>
<div class="col-100 description-Seller" >
  <div class="more_txt item-divider">More products from the same seller</div>
<div class="contactBtns">
  <button class=" button button-small button-positive button1" ng-click="sellerData(productDes.user_id)">Contact Seller</button>
  <button class=" button button-small button-positive button1" ng-click="chat()">Chat</button>
</div>
</div>
</div>

<div class="list other-image">
      <div  ng-repeat="others in otherItems" >
        <img src="{{others.image_url}}" ng-click="description(others.id)">
      </div>

</div>


  </ion-content>

</ion-view>