<ion-view class="plug-backdrop">
  <ion-header-bar class="bar-light bar bar-header disable-user-behavior"> <button ng-click="seller.hide()" class="button back-button buttons button-clear header-item"><i class="icon ion-android-arrow-back plug-color"></i></button>
    <div class="title title-center header-item sidemenu-header">Seller profile</div>
  </ion-header-bar>
 <ion-content class="has-header profile" padding="false">
    <form class="list">
      <ion-list>
        <div class="profile-nav">
          <div class="panel">
            <div class="user-heading round">
              <div>{{sellerProf.firstname}} {{sellerProf.lastname}}</div>
              <div>
                <i class="icon icon-right ion-location">&nbsp;</i>New York, USA
              </div><span>
              <i class="icon icon-right ion-chatbubbles profile-icon-edit">	&nbsp;</i></span>
              <span>
              <a>
								<img ng-src="{{sellerProf.profile_image}}">
								</a></span>
              <i class="icon icon-right ion-heart profile-icon-setting" ng-click="addFav()">&nbsp;</i>
            </div>
          </div>
        </div>
        <div class="item-divider seller-head">
          Seller Information</div>
        <div>

                    <label class="item item-icon-left">
								<i class="icon ion-ios-person-outline"></i>
								<input type="text" ng-disabled="edit" ng-model="sellerProf.name" placeholder="Daryl Armour" class="seller-textfield">
								</label>



        <label class="item item-icon-left">
								<i class="icon ion-ios-game-controller-b-outline"></i>
								<input type="text" ng-disabled="edit" ng-model="sellerProf.handle_name" placeholder="@daryl" class="seller-textfield">
								</label>
        <label class="item item-icon-left">
									<i class="icon ion-ios-email-outline"></i>
									<input type="email" ng-disabled="edit" ng-model="sellerProf.email" placeholder="dwaynegordon924@gmail.com"  class="seller-textfield">
									</label>
        <label class="item item-icon-left">
										<i class="icon ion-ios-telephone-outline"></i>
										<input type="text" ng-disabled="edit" ng-model="sellerProf.mobile" placeholder="202-555-0187"  class="seller-textfield">
                    </label>

        <div class="item-divider seller-head">
          Products Portfolio</div>


          <div class="list">
    <div class="item" ng-repeat="sellpro in sellerProduct">
      <img src="{{sellpro.image_url}}" class="seller-portfolio">
    </div>

    </div>
</div>
      </ion-list>
    </form>
  </ion-content>
</ion-view>