﻿<ion-view title="Sell">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear plug-hamburger plug-color" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content class="" padding="false">
        <div class="side-space">
            <div class="col-xs-12">
                <div class="product-images">
                    <h4>Product Images</h4>
                    <div class="text-muted">Max 3 images</div>
                </div>
            </div>
            <div class="down-space images">
                <div class="col-sm-12">
                    <img src="img/backg.jpg" alt="back-img"/>
                    <img src="img/backg.jpg" alt="back-img"/>
                    <img src="img/backg.jpg" alt="back-img"/>
                    <div class="add-new-images" ng-click="openActionsheet()">
                        Add Images
                    </div>
                </div>
            </div>

            <div class="form-description">
                <form name="uploadForm">
                    <div class="col-xs-12">
                        <input type="text" class="form-control" id="productName" placeholder="product name" ng-model="upload.product_title">
                    </div>
                    <div class="col-xs-6">
                        <input type="number" class="form-control" id="regular_price" placeholder="Regular Price"  ng-model="upload.price">
                    </div>
                    <div class="col-xs-6">
                        <input type="number" class="form-control" id="discounted_price" placeholder="Discounted Price"  ng-model="upload.discount_price">
                    </div>
                    <div class="col-xs-12">
                        <textarea class="form-control" id="description" placeholder="Description"  ng-model="upload.product_description"></textarea>
                    </div>
                    <div class="col-xs-12">
                        <input type="text" class="form-control" id="location" placeholder="Location"  ng-model="upload.location">
                    </div>
                    <div class="col-xs-12 text-center submit-btn">
                        <button class="btn btn-primary" ng-click="uploadProduct(upload)">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>

    </ion-content>
</ion-view>