<body>
    <div>
        <ion-side-menus ng-controller="IndexCtrl" data-componentid="side-menu" >
            <ion-side-menu-content>
                <ion-nav-bar class="bar-light">
                    <ion-nav-back-button>
                    </ion-nav-back-button>
                </ion-nav-bar>
                <ion-nav-view></ion-nav-view>
            </ion-side-menu-content>
        </ion-side-menus>
    </div>
</body>