<ion-view class="plug-backdrop">
  <ion-header-bar class="bar-light bar bar-header disable-user-behavior"> <button ng-click="chat.hide()" class="button back-button buttons button-clear header-item"><i class="icon ion-chevron-left  plug-color"></i></button>
    <div class="title title-center header-item sidemenu-header">Chat</div>
  </ion-header-bar>
  <ion-content class="padding" style="background-color: #15648d;">
    <div class="commentArea">
      <div class="bubbledLeft">
        <img src="../img/default.jpg">
        <span>Hi</span>
      </div>
      <div class="bubbledRight">
        <span>How are you??</span>
        <img src="../img/default.jpg">
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-calm">
  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Start typing your message..">
    </label>
    <i class="icon ion-android-send"></i>  
  </div></div>
</ion-view>