<ion-view class="plug-backdrop">
  <ion-header-bar class="bar-positive bar bar-header disable-user-behavior"> <button ng-click="complainmail.hide()"  class="button back-button buttons button-clear header-item"><i class="icon ion-chevron-left plug-color"></i></button>
    <div class="title title-center header-item sidemenu-header">Complain Center</div>
  </ion-header-bar>
  <ion-content>
    
  <div class="padding">
  <div class="complain-subtext">
  <span class="complain-text">The following information will be included in email</span>
  </div>
    
 <div class="complainmail-input">
  <label class="item ">
    <span>Name</span><br>
    <p>Dwayne Gordon</p>
  </label>
  <label class="item ">
    <span>E-mail Address</span><br>
    <p>dwaynegordon924@gmail.com</p>
  </label>
</div>
<label class="item">
    <span>Order Issue</span><br>
    <div class="item item-thumbnail-left complainmail-shoes">
      <img src="/img/shoes.png" class="yourorders-image">
      <h3 class="yourorders-color">Greyish zoom rev shoes for mens</h3>
      <p>sold by:
        <u class="yourorders-subcolor">@daryl</u>
        <p>order placed:31<sup>st</sup> July,2017</p>
      </p>
    </div>
  </label>
</div>
</div>

<div class="item complainmail-text">
  <span>Please tell us a little more about your issue:</span>
</div>
     <div class="padding">
      <label class="item item-input">
    <input type="text" placeholder="Subject e.g. Order not received">
  </label>
  <label class="item item-input complainmail-textarea">
    <textarea rows="5" placeholder="Requried"></textarea>
  </label>
  <div class="row">
  <div class="col text-center">
    <button class="button button-positive complainmail-button">SEND E-MAIL</button>
  </div>
     </div>
</div>
  </ion-content>
<div class="bar bar-footer complainmail-footer">
    <span class="complainmail-text">You should receive a response from one of our executive in next 1-2 working days</span>
  </div>
</ion-view>
