<ion-view class="plug-backdrop">
  <ion-header-bar class="bar-positive bar bar-header disable-user-behavior"> <button ng-click="complain.hide()" class="button back-button buttons button-clear header-item"><i class="icon ion-chevron-left plug-color"></i></button>
    <div class="title title-center header-item sidemenu-header">Complain Center</div>
  </ion-header-bar>
  <ion-content class="padding">


    <div class="complain-subtext">
      <span class="complain-text"> Select items that relate to the issue</span>
    </div>

    <div class="list">

      <label class="item item-input item-select">
    <div class="item complain-order">
      <h3 >order placed in past 3 months <i class="icon ion-chevron-right complain-chevron"></i></h3> 
    </div>
    <select>
      <option>Blue</option>
      <option selected>Green</option>
      <option>Red</option>
    </select>
  </label>

    </div>


    <div class="item item-thumbnail-left complain-phone">
      <img src="/img/iphone.png" class="complain-image">
      <label class="checkbox-right plug-float-right">
         <input type = "checkbox" />
      </label>
      <h3 class="complain-color">iphone5 (silver,16 GB)</h3>
      <p>sold by:
        <u class="complain-subcolor">@nelson</u>
      </p>
      <p>order placed:31<sup>st</sup> July,2017</p>
      <div class="item-checkbox-right box-check complain-checkbox">
      </div>
    </div>

    <div class="item item-thumbnail-left complain-shoes">
      <img src="/img/shoes.png" class="complain-image">
      <label class="checkbox-right plug-float-right">
         <input type = "checkbox" />
      </label>
      <h3 class="complain-color">greyish zoom rev shoes for mens</h3>
      <p>sold by:
        <u class="complain-subcolor">@deen</u>
      </p>
      <p>order placed:30<sup>st</sup> July,2017</p>
      <div class="item-checkbox-right box complain-checkbox">
      </div>
    </div>
    <div class="item item-thumbnail-left complain-shoes">
      <img src="/img/mouse.png" class="complain-image">
      <label class="checkbox-right plug-float-right">
         <input type = "checkbox" />
      </label>
      <h3 class="complain-color">B170 wireless mouse</h3>
      <p>sold by:
        <u class="complain-subcolor">@daryl</u>
      </p>
      <p>order placed:13 July,2017</p>
      <div class="item-checkbox-right box complain-checkbox">
      </div>
    </div>


  </ion-content>
  <div class="bar bar-footer complain-footer">

    <div class="col text-center">
      <button class=" button-positive complain-button" ng-click="complainMail()">
           CONTINUE
        </button>

    </div>
  </div>
</ion-view>