﻿<ion-view title="Dashboard">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear plug-hamburger plug-color" menu-toggle="left">
        </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear plug-filter plug-color">
        </button>
  </ion-nav-buttons>
  <ion-content class="has-header dashboard">
    <div class="col col-50" ng-class="{'plug-float-left': $index % 2 === 0 , 'plug-float-right': $index % 2 !== 0 }" ng-repeat="menuList in menu track by $index" >
      <div ng-if="$index % 2 === 0">
        <div class="item item-image brdrRadius">
          <img ng-src="{{'img/fk/'+ menuList.image +'.jpg'}}" width="100%" />
        <div class="itemDesc">
          <p class="plug-float-left">
            <span class="handleName">@{{menuList.handler}}</span>
            <span ><i class="icon ion-navigate"></i> {{menuList.distance}} mi</span>
          </p>
          <p class="plug-float-right">
            <span class="description-Overline">&#36;{{menuList.price}}</span>
            <span>&#36;{{menuList.stock}}</span>
          </p>
        </div>
        </div>
      </div>
      <div ng-if="$index % 2 !== 0">
       <div class="item item-image brdrRadius">
          <img ng-src="{{'img/fk/'+ menuList.image +'.jpg'}}" width="100%" />
        <div class="itemDesc">
          <p class="plug-float-left">
            <span class="handleName">@{{menuList.handler}}</span>
            <span ><i class="icon ion-navigate"></i> {{menuList.distance}} mi</span>
          </p>
          <p  class="plug-float-right" >
            <span class="description-Overline">&#36;{{menuList.price}}</span>
            <span>&#36;{{menuList.stock}}</span>
          </p>
        </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>