﻿<ion-view title="Description" hide-tabs>
  <ion-content class="has-header description" padding="false">

    <div>
      <div>
        <carousel interval="myInterval" class="description-carousel">
          <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}">
            <div class="carousel-caption">
              
            </div>
          </slide>
        </carousel>
      </div>
      <div class="item-divider description-Head">
        Product Information</div>
      <div class="description-Box">

        <div>
          <span>Nike Zoom Rev 2017</span><span class="description-Price"> &nbsp;&nbsp;$350.00</span> <span class="description-Price description-Overline">$380.00<span></div>
  <hr class="description-Underline" />
<p>Built for versatile play,the Nike Zoom Rev 2017 Men's baskteball shoes features a breathable textile upper
and gooved outsole to help keep you light. </p>
<h5>
<u>Benifits</u>
</h5>
<div id="list">
<ul class="descList">
<li>textile upper is beathable,lightweight and flexible.</li>
<li>injected python midsole and nike Zoom Air unit in the footer for lightweight.</li>
<li>Textile upper is breathable,lightweight and flexible.</li>
</ul>
</div>
</div>
<div class="col-100 description-Seller" >
  <div class="more_txt item-divider">More products from the same seller</div>
<div class="contactBtns">
  <button class=" button button-small button-positive button1" ng-click="seller()">Contact Seller</button>
  <button class=" button button-small button-positive button1" ng-click="chat()">Chat</button>
</div>
</div>
</div>

<div class="list">
    <a class="item" href="#">
      <img src="/img/shoes.png">
      <img src="/img/iphone.png">
    </a>
</div>


  </ion-content>

</ion-view>