﻿<ion-view title="EXPLORE">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear plug-hamburger plug-color" menu-toggle="left">
        </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear plug-filter plug-color" menu-toggle="left">
        </button>
  </ion-nav-buttons>

  <ion-content class="has-header" padding="false">
    <div id="wrapper">


 <div class="item item-input-inset" id="over_map" >
    <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
  </label>
    <button class="button button-small">
      Submit
    </button>
  </div>
<div id="map-canvas">
  </div>
<div>


  </ion-content>
</ion-view>