﻿<ion-view title="Favourite">
   <ion-nav-buttons side="left">
    <button class="button button-icon button-clear plug-hamburger plug-color" menu-toggle="left">
        </button>
  </ion-nav-buttons>

    <ion-content class="has-header" padding="true"></ion-content>
</ion-view>
