<ion-view hide-nav-bar="true">
  <ion-content class="forgot-background">
    <div class="forgot-whole">
      <i class="icon ion-close-round forgot-icon" ng-click="$ionicGoBack()"></i>
      <div class="logo-forgot"></div>
      <h1 class="forgot-text">Forgot Password</h1>
      <h6 class="forgot-subtext">Fear not.we'll email your instructions to
         reset your password on your registered email ID.</h6><br>
      <div class="list item forgot-input">
        <label class="item item-input">
          <input type="text" placeholder="Email Address">
          </label>
      </div>
      <button class="button button-positive button-full forgot-button">
        RESET PASSWORD
      </button>
      <center><button class="button button-clear button-positive">
      <u class=" forgot-color">Return to login</u>
       </button></center>
    </div>
  </ion-content>
</ion-view>
