<ion-view class="plug-backdrop">
  <ion-header-bar class="bar-light bar bar-header disable-user-behavior invite-headercolor"> <button ng-click="closeModal()" class="button back-button buttons button-clear header-item"><i class="button button-icon button-clear plug-hamburger plug-color"></i></button>
    <div class="title title-center header-item sidemenu-header">Invite a Friend</div>
  </ion-header-bar>
  <ion-content>
    <div class="invite-background">
      <center class="invite-firstline1">Each friend can give you</center>
      <center class="invite-firstline1">$1</center><br>
      <center class="invite-secondline2">Get $1 @ThePlug cash per friend who</center>
      <center class="invite-thirdline3"> joins & installs the app successfully </center>
      <br>
      <center class="invite-thirdline3">Tip:Users who invite using facebook,</center>
      <center class="invite-thirdline3">twitter and instagram, earn upto $10</center>
      <center class="invite-thirdline3">from inviting friends.</center>
    </div>
    <br>
<div class="invite-margin">
    <div class="row invite-topspace">
      <div class="col">
        <center><image src="/img/facebook.png" class="invite-image"></center>
          <center>Invite Facebook friends</center>
      </div>
      <div class="col">
        <center><image src="/img/twitter.png" class="invite-image"></center>
          <center>Invite Twitter friends</center>
      </div>
    </div><br>

    <div class="row invite-space">
      <div class="col">
        <center><image src="/img/insta.png" class="invite-image"></center>
          <center>Invite Instagram friends</center>
      </div>

      <div class="col">
        <center><image src="/img/share.png" class="invite-image"><center>
          <center>More option</center>
      </div>
    </div>
</div>
  </ion-content>
</ion-view>