<ion-view class="plug-backdrop">
  <ion-header-bar class="bar-positive bar bar-header disable-user-behavior"> <button ng-click="closeModal()" class="button back-button buttons button-clear header-item"><i class="icon ion-chevron-left plug-color"></i></button>
    <div class="title title-center header-item sidemenu-header">Your Orders</div>
  </ion-header-bar>

  <ion-content>
    <div class="bar bar-subheader yourorders-subheader ">
      <label class="item-input ">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
    </label>
    </div>
    <div class="yourorders-span">
      <span>Order in last 3 months</span> <span class="yourorders-vieworder"><u>View all orders</u></span>
    </div>

    <div class="item item-thumbnail-left">
      <img src="/img/shoes.png" class="yourorders-image">
      <h3 class="yourorders-color">Greyish zoom rev shoes for mens</h3>
      <p>sold by:
        <u class="yourorders-subcolor">@daryl</u>
        <p>order placed:31<sup>st</sup> July,2017</p>
        <i class="icon ion-chevron-right yourorders-chevron yourorders-icon"></i>
      </p>
    </div><br>


    <div class="item item-thumbnail-left">
      <img src="/img/motomob.png" class="yourorders-image">
      <h3 class="yourorders-color">Moto C (Starry Black,16 GB)</h3>
      <p>sold by:
        <u class="yourorders-subcolor">@nelson</u>
        <p>order placed:30<sup>th</sup> July,2017</p>
        <i class="icon ion-chevron-right yourorders-chevron yourorders-icon"></i>
      </p>
    </div><br>


    <div class="item item-thumbnail-left">
      <img src="/img/mouse.png" class="yourorders-image">
      <h3 class="yourorders-color">B170 wireless mouse</h3>
      <p>sold by:
        <u class="yourorders-subcolor">@deen</u>
        <p>order placed:13<sup>th</sup> June,2017</p>
        <i class="icon ion-chevron-right yourorders-chevron yourorders-icon"></i>
      </p>
    </div>
    </div><br>


    <div class="item item-thumbnail-left">
      <img src="/img/Macbook.png" class="yourorders-image">
      <h3 class="yourorders-color">Apple MacBook Air MMGF2HN/A 13.3...</h3>
      <p>sold by:
        <u class="yourorders-subcolor">@deen</u>
        <p>order placed:10<sup>th</sup> May,2017</p>
        <i class="icon ion-chevron-right yourorders-chevron yourorders-icon"></i>
      </p>
    </div>



  </ion-content>
  <div class="bar bar-footer yourorders-footer">
    <span class="yourorders-text">Total 4 orders found</span>
  </div>
</ion-view>