﻿<ion-view title="This is you">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear plug-hamburger plug-color" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content class="has-header profile" padding="false">
    <form class="list">
      <ion-list>
        <div class="profile-nav">
          <div class="panel">
            <div class="user-heading round">
              <div>{{userdata.first_name}} {{userdata.last_name}}</div>
              <div>
                <i class="icon icon-right ion-location">&nbsp;</i>New York, USA
              </div><span>
              <i class="icon icon-right ion-edit profile-icon-edit">	&nbsp;</i></span>
              <span ng-click="profilePic()">
              <a>
								<img ng-src="{{userdata.profile_image}}">
								</a></span>
              <i class="icon icon-right ion-gear-b profile-icon-setting" ng-click="editProfile()">&nbsp;</i>
            </div>
          </div>
        </div>
        <div class="item-divider descHead">
          Contact Information</div>
        <div>
          <label class="col-50 item item-icon-left plug-float-left">
							<i class="icon ion-ios-person-outline"></i>
							<input type="text" ng-disabled="edit" ng-model="userdata.first_name" placeholder="First Name" class="profile-input profile-input-background">
							</label>
          <label class="col-50 item item-icon-left">
								<input type="text" ng-disabled="edit" ng-model="userdata.last_name" placeholder="Last Name" class="profile-input profile-input-background">
								</label>
        </div>
        <label class="item item-icon-left">
								<i class="icon ion-ios-game-controller-b-outline"></i>
								<input type="text" ng-disabled="edit" ng-model="userdata.handle_name" placeholder="Choose your desired @ ThePlug Handle" class="profile-input profile-input-background">
								</label>
        <label class="item item-icon-left">
									<i class="icon ion-ios-email-outline"></i>
									<input type="email" ng-disabled="true" ng-model="userdata.email" placeholder="dwaynegordon924@gmail.com"  class="profile-input profile-input-background">
									</label>
        <label class="item item-icon-left">
										<i class="icon ion-ios-telephone-outline"></i>
										<input type="text" ng-disabled="edit" ng-model="userdata.mobile" placeholder="202-555-0187"  class="profile-input profile-input-background">
                    </label>
                  <div class="button-bar padding" ng-if="!edit">
  <a class="button button-positive" ng-click="save(userdata)">Save</a>
  <a class="button button-assertive" ng-click="cancel()">Cancel</a>
</div>
        <div class="item-divider descHead">
          Social Links</div>
        <ul class="list">
          <li class="item item-toggle item-icon-left profile-input">
            <i class="icon ion-social-facebook-outline"></i> Facebook

            <label class="toggle toggle-assertive">
													<input type="checkbox">
														<div class="track">
															<div class="handle"></div>
														</div>
													</label>
          </li>
          <li class="item item-toggle item-icon-left profile-input">
            <i class="icon ion-social-twitter-outline"></i> Twitter

            <label class="toggle toggle-assertive">
														<input type="checkbox">
															<div class="track">
																<div class="handle"></div>
															</div>
														</label>
          </li>
          <li class="item item-toggle item-icon-left profile-input">
            <i class="icon ion-social-instagram-outline"></i> Instagram

            <label class="toggle toggle-assertive">
															<input type="checkbox">
																<div class="track">
																	<div class="handle"></div>
																</div>
															</label>
          </li>
        </ul>
      </ion-list>
    </form>
  </ion-content>
</ion-view>