<ion-view hide-nav-bar="true">
  <ion-content class="register-background">
    <div class="register-whole">
      <a class="register-image" ng-click="closeRegister()"><i class = "icon ion-close-round
"></i></a>
      <center>
      <h2 class="register-colour">Register</h2>
      </center>
      <form name="registerForm" id="RegisterForm">
      <div class="list">
        <label class="item item-input  item-floating-label register-first ">
           <span class="input-label invite-placecolor">Name
             </span> 
           
<input type="text" placeholder="Name" ng-model="registerdata.name" name="name" required ng-minlength="3" >

</label>
 <span ng-show="registerForm.name.$error.required">* Name is required</span>
            <span ng-show="registerForm.name.$error.minlength">* Username must be longer than 3 characters</span>
        <label class="item item-input item-floating-label register-second">
 <span class="input-label invite-placecolor">Mobile</span> 
<input type="number" placeholder="Mobile"  ng-model="registerdata.mobile" name="mobile" required ng-minlength="10" ng-maxlength="10" >
</label>
 <span ng-show="registerForm.mobile.$error.required">* Mobile Number is required</span>
             <span ng-show="registerForm.mobile.$error.minlength">* Mobile Number invalid</span>
              <span ng-show="registerForm.mobile.$error.maxlength">* Mobile Number invalid</span>
        <label class="item item-input item-floating-label  register-second">
<span class="input-label invite-placecolor">Email Address</span> 
<input type="email" placeholder="Email Address" name="email"   ng-model="registerdata.email" required>
</label>
   <span ng-show="registerForm.email.$error.required">* Email is required</span>
            <span ng-show="registerForm.email.$error.email">* Email is Invalid</span>
        <label class="item item-input item-floating-label  register-second">
 <span class="input-label invite-placecolor">Password</span> 
<input type="password" placeholder="Password"  ng-model="registerdata.password"  name="password" required ng-minlength="6" >
</label>
  <span ng-show="registerForm.password.$error.required">* Password is required</span>
            <span ng-show="registerForm.password.$error.minlength">* Password must be longer than 6 characters</span>
        <label class="item item-input item-floating-label  register-second" >
 <span class="input-label invite-placecolor">Confirm Password</span>
<input type="password" placeholder="Confirm Password" required name="cpassword"  ng-model="registerdata.password_confirmation" required>
</label>
 
      </div>
      
<button class="button button-positive button-full register-button-form" ng-click="registerUser(registerdata)" ng-disabled="registerForm.$invalid" >
REGISTER
</button>
</form>
        <center><h5 class="register-colour">By clicking register,I agree to your <u>Terms</u></h5></center>
    </div>
  </ion-content>
</ion-view>
