<ion-view class="plug-backdrop">
  <ion-header-bar class="bar-light bar bar-header disable-user-behavior"> <button ng-click="seller.hide()" class="button back-button buttons button-clear header-item"><i class="icon ion-chevron-left plug-color"></i></button>
    <div class="title title-center header-item sidemenu-header">Seller</div>
  </ion-header-bar>
 <ion-content class="has-header profile" padding="false">
    <form class="list">
      <ion-list>
        <div class="profile-nav">
          <div class="panel">
            <div class="user-heading round">
              <div>{{userdata.firstname}} {{userdata.lastname}}</div>
              <div>
                <i class="icon icon-right ion-location">&nbsp;</i>New York, USA
              </div><span>
              <i class="icon icon-right ion-chatbubbles profile-icon-edit">	&nbsp;</i></span>
              <span>
              <a>     
								<img ng-src="{{userdata.profile_image}}">
								</a></span>
              <i class="icon icon-right ion-heart profile-icon-setting" ng-click="editProfile()">&nbsp;</i>
            </div>
          </div>  
        </div>
        <div class="item-divider descHead">
          seller Information</div>
        <div>
           
                    <label class="item item-icon-left">
								<i class="icon ion-ios-person-outline"></i>
								<input type="text" ng-disabled="edit" ng-model="userdata.name" placeholder="Daryl Armour" class="seller-textfield">
								</label>
           
         
        
        <label class="item item-icon-left">
								<i class="icon ion-ios-game-controller-b-outline"></i>
								<input type="text" ng-disabled="edit" ng-model="user.handle" placeholder="@daryl" class="seller-textfield">
								</label>
        <label class="item item-icon-left">
									<i class="icon ion-ios-email-outline"></i>
									<input type="email" ng-disabled="edit" ng-model="userdata.email" placeholder="dwaynegordon924@gmail.com"  class="seller-textfield">
									</label>
        <label class="item item-icon-left">
										<i class="icon ion-ios-telephone-outline"></i>
										<input type="text" ng-disabled="edit" ng-model="userdata.mobile" placeholder="202-555-0187"  class="seller-textfield">
                    </label>
                
        <div class="item-divider descHead">
          Products Portfolio</div>


          <div class="list">
    <a class="item" href="#">
      <img src="/img/shoes.png" class="seller-portfolio">
      <img src="/img/iphone.png" class="seller-portfolio">
      <img src="/img/iphone.png" class="seller-portfolio">

    </a>
</div>

        </ul>
      </ion-list>
    </form>
  </ion-content>
</ion-view>