﻿<body animation="slide-left-right">
    <div>
        <ion-side-menus ng-controller="IndexCtrl" data-componentid="side-menu">
            <ion-side-menu-content>
                <ion-nav-bar class="bar-light dark_green">
                    <ion-nav-back-button>
                    </ion-nav-back-button>
    </ion-nav-bar>    
        <ion-tabs class="tabs-icon-top  tabs-positive {{$root.hideTabs}}" >

        <ion-tab title="Home" icon="plug-home" ui-sref="home.dashboard">
              
          <ion-nav-view name="home-tab"></ion-nav-view>
          
        </ion-tab>

        <ion-tab title="My Favs" icon="plug-fav" ng-click="fav()">


          <ion-nav-view name="favs-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab>
          
        </ion-tab>

        <ion-tab title="Explore" icon="plug-explore" ng-click="explore()">
          <ion-nav-view name="explore-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Profile" icon="plug-profile" ng-click="profilePage()">
          <ion-nav-view name="profile-tab"></ion-nav-view>
        </ion-tab>
        

      </ion-tabs>
            </ion-side-menu-content>
            <!-- #3.  $root.extras -->
            <ion-side-menu side="left" id="side-menu">
                <ion-header-bar class="expanded timeline" style="box-shadow: inset 0px -60px 20px 0px rgba(0,0,0,.3);" ng-style="{'background-image': default ? 'url(data:image/jpeg;base64,'+timeline+')': 'url({{timeline}})'}">
                    <img ng-src="{{userdata.profile_image}}" class="avatar motion spin fade" ng-click="profilePic()">
                    <div class="menu-bottom" ng-click="editName()">
                        <h3 class="hamburger-name">{{userdata.first_name}}</h3>
                    </div>
                </ion-header-bar>
                <ion-content class="has-expanded-header hamSub">
                    <ion-list id="menu-list1">
                        <ion-item ng-click="home()" id="menu-list4" class="item-icon-left " menu-close="">
                            <i class="icon ion-ios-home"></i>Home</ion-item>
                        <hr class="hr-border">
                        <ion-item ng-click="orders()" id="menu-list4" class="item-icon-left " menu-close="">
                            <i class="icon ion-ios-settings"></i>Your Orders</ion-item>
                        <hr class="hr-border">
                        <ion-item ng-click="invite()" id="menu-list4" class="item-icon-left " menu-close="">
                            <i class="icon ion-ios-personadd-outline"></i>Invite a friend</ion-item>
                        <hr class="hr-border">
                        <ion-item ng-click="complain()" id="menu-list4" class="item-icon-left " menu-close="">
                            <i class="icon ion-gear-b"></i>Complain Centre</ion-item>
                        <hr class="hr-border">
                        <ion-item ng-click="terms()" id="menu-list4" class="item-icon-left " menu-close="">
                            <i class="icon ion-lock-combination"></i>Terms & Conditions</ion-item>
                        <hr class="hr-border">
                        <ion-item ng-click="logout()" id="menu-list5" class="item-icon-left" menu-close="">
                            <i class="icon ion-log-out"></i>LOGOUT</ion-item>
                    </ion-list>

                </ion-content>
            </ion-side-menu>
        </ion-side-menus>
  <div class="bar bar-footer" style="background: 0;height: 0px;" ng-if="!hideTabs">
    <div class="buttons buttons-left" ng-if="fabButton">
      <button class="button button-fab button-calm tab-fab plug-sell">
          <div class="plug-cell-text">Sell</div>
      </button>
    </div>
    </div>
</body>