<ion-view class="plug-backdrop">
  <ion-header-bar class="bar-light bar bar-header disable-user-behavior"> <button ng-click="closeModal()" class="button back-button buttons button-clear header-item"><i class="icon ion-chevron-left plug-color"></i></button>
    <div class="title title-center header-item sidemenu-header">Terms and Conditions</div>
  </ion-header-bar>
  <ion-content class="padding">
<div class="wizard-space">
                    <h3 class="page4 wizard-color">Terms & Conditions</h3>
                    <h4 class="page4"> 1.User Account, Password, and Security</h4>
                    <h5 class="page4-text"> If you use ThePlug, You shall be responsible for maintaining the confidentiality of your Display Name
                        and Password and You shall be responsible for all activities that occur under your Display Name and
                        Password.
                    </h5>
                </div>
  </ion-content>
</ion-view>