<ion-view hide-nav-bar="true">
    <ion-content class="wizard">
        <ion-slide-box on-slide-changed="slideChanged($index)" class="wizard-background">
            <ion-slide class="wizard-one">
                <div class="wizard-space">
                    <h2><span class="wizard-color"> BUY </span> and <span class="wizard-color">SELL</span> with ThePlug</h2>
                </div>
            </ion-slide>
            <ion-slide class="wizard-two">
                <div class="wizard-space">
                    <h2><span class="wizard-color"> EASIEST </span> way to buy and sell</h2>
                </div>
            </ion-slide>
            <ion-slide class="wizard-three">
                <div class="wizard-space">
                    <h2 class="page3 wizard-color">ABOUT US</h2>
                    <p class="page3-text">Welcome to The Plug, the people-powered app that gets you the right connections.</p>

                    <p class="page3-text"> Do you know your neighbor who is always impeccably dressed with every pair of sneakers right when they are released ?He gets quite an employee discount !
                    He is the plug !</p>

                   <p class="page3-text">  Do you know the teenage girl that part times at the electronics store that
                    has all the latest consoles and games to go with it ? 
                    She is the plug !</p>

                     <p class="page3-text">The Plug is the platform for safe and secure service sharing, where users can utilize the connections of fellow plugs in their area and gain access to ways of making and saving money on any product their heart desires. We protect you the buyer, and you the seller, so that every transaction is a win-win.</p>

                     <p class="page3-text"> We believe in the power of community, and the power of us.
                        Every plug is only as strong as the next, so make this community stronger by joining us !</p>
                </div>
            </ion-slide>
            <ion-slide class="wizard-four">
                <div class="wizard-space">
                    <h2 class="page4 wizard-color">Terms & Conditions</h2>
                    <h3 class="page4"> 1.User Account, Password, and Security</h3>
                    <p class="page4-text"> If you use ThePlug, You shall be responsible for maintaining the confidentiality of your Display Name
                        and Password and You shall be responsible for all activities that occur under your Display Name and
                        Password.
                    </p>
                     <p class="page4-text"> If you use ThePlug, You shall be responsible for maintaining the confidentiality of your Display Name
                        and Password and You shall be responsible for all activities that occur under your Display Name and
                        Password.
                    </p>
                     <p class="page4-text"> If you use ThePlug, You shall be responsible for maintaining the confidentiality of your Display Name
                        and Password and You shall be responsible for all activities that occur under your Display Name and
                        Password.
                    </p>
                     <p class="page4-text"> If you use ThePlug, You shall be responsible for maintaining the confidentiality of your Display Name
                        and Password and You shall be responsible for all activities that occur under your Display Name and
                        Password.
                    </p>
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="slider-container">
            <button class="bottom-left button button-clear button-dark btn-new" ng-click="startApp()" ng-show="slideNumber < 3">Skip</button>
            <button class="bottom-right button button-clear button-dark btn-new" ng-click="next()">Next</button>
        </div>
    </ion-content>
</ion-view>