/*complain center page start*/
.complain-subtext{
   margin-top: -14px;
    background-color: lightgrey;
    margin-left: -17px;
    margin-right: -17px;
    width: 122%;
}
  
.complain-text{
  margin-left: 15px;
}

.complain-checkbox{
  float: right;

}
.complain-button{
  border-radius: 93px;
  border: 0px;
}

.complain-chevron{
  float: right;
}

.complain-order{
  border: 1px solid !important;
  margin-top: 15px;
  border-radius: 9px !important;
  background-color: lightgrey;
}

.complain-phone{
  margin-top: 23px;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
}

.complain-shoes{
  border-left: 0px;
  border-right: 0px;
}

.complain-footer{
  background-position: 0px ;
  box-shadow: 0px 0px 0px transparent ; 
  background-image: linear-gradient(0deg,transparent,transparent);
}
/*complain center page end*/

/*complaimmail start*/
.complainmail-input{
  margin-top: 16px;
}

.complainmail-shoes{
  border: 0px;
}

.complainmail-text{
  background-color: lightgray;
}

.complainmail-textarea{
  margin-top: 12px;
}
.complainmail-button{
  border-radius: 30px;
}

.complainmail-footer{
  font-size: 14px;
  background-color: lightgray;
}

.complainmail-text{
    margin: auto ;
}

.complain-image{
  border: 1px solid;
  border-radius: 1px !important;
}

.complain-color{
  color: #067abd;
}

.complain-subcolor{
   color: #89c0df;
}

/*complainmail end*/