/*Dashboard Page*/
.dashboard { padding: 5px; }
.bar { box-shadow: none; }
.dashboard-paragraph{
  font-size: 12px;
  text-align:left;
}
.itemDesc span { display: block; }
.handleName {color: #297ca6; }
.itemDesc p.plug-float-left span { text-align: left; }
.itemDesc p.plug-float-right span { text-align: right; }

.dashboard .row{
  margin: 0;
}

.item-image {

	border-color:#c6c6c6;
}

.itemDesc { padding: 10px; border-top:1px solid	#ccc; display: block; }
.brdrRadius { border-radius: 5px; }
.itemDesc p { line-height:24px; }
/*Dashboard Page End*/

