/*Description Page*/
.description .bar .bar-light .title{
  text-align: center !important;
}

.productDescription .item {
  padding: 0;
}

.description-Head {
  padding-left: 10px;
}

.description-Box {
  padding: 10px;
}

.description-Price {
  float: right;
}

.description-Underline {
  margin-bottom: 10px;
  margin-top: 10px;
}

.description-Overline {
  text-decoration: line-through;
  display: inline-block;
  margin-left: 8px;
  font-size: 13px;
  color: red;
}

.description-Seller {
  min-height: 55px;
}

.description-carousel img{
  width: 100vw;
}

.description-carousel .item{
  padding: 0;
}
.more_txt.item-divider {font-weight: 400; padding: 10px 0; text-indent: 10px; border-top: 1px solid #CCC;border-bottom: 1px solid #CCC; }
.contactBtns button.button.button-positive { background: #333; font-size: 12px; font-weight: 400; border-radius: 5px; 
  text-transform: capitalize; box-shadow: none; }
/*Description Page End*/


/*seller page start*/
.seller-portfolio{
  border: 1px solid;
      margin-right: 2px;
    margin-left: 2px;
}
.seller-textfield{
  border: 1px solid !important;
  width: 100%;
  border-left: 0px !important;
  border-right: 0px !important;
 border-top: 0px !important;
}

/*seller page End*/


/*Chat page start*/
.bubbledLeft,.bubbledRight{
margin-top: 3px;
max-width: 80%;
clear: both;
}

.bubbledLeft{
float: left;
margin-right: auto;
}

.bubbledRight{
float: right;
margin-left: auto;
text-align: right;
}


.bubbledRight:after{
z-index: -1;
position: absolute;
right: -36px;
width: 32px;
bottom: 0px;
height: 32px;
content:"";

background-image: url(right_chatter.png);
background-size: 32px 32px;
background-position: bottom left;

border-radius: 3px;
-webkit-border-radius: 3px;	
-moz-border-radius: 3px;	
-o-border-radius: 3px;	
-ms-border-radius: 3px;	
}

.commentArea img{
  height: 35px;
  border-radius: 50%;
}

/*Chat page End*/