/*Forget Password Page*/
.forgot-whole{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 40px;
}

.logo-forgot {
  background: #2c88bb url("../img/plug-logo.png") repeat scroll center center / cover;
  border-radius: 0%;
  height: 150px;
  margin: 0 auto;
  width: 150px;
  margin-top: 60px;
  margin-bottom: 42px;
}


.forgot-background{
  background-color: #2c88bb;
}

.forgot-color{
  color: white;
}
.forgot-text{
  text-align: center;
  color: white;
  font-size: 158%;
}

.forgot-button{
  border-radius: 30px;
  font-size:163%;
}
.forgot-icon{
  height: 20px;
  font-size: 15px;
    color: white;
}

.forgot-subtext{
  text-align: center;
  color: white;
}

.forgot-input{
  border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

/*Forget Password Page End*/