/*invite friends page start*/
.invite-background{
   background-image: url('../img/invite-background.jpg');
   height: 229px;

}
  .invite-space{
   margin-top: 45px;
  }

  .invite-topspace{
    margin-top: 50px;
  }

.invite-firstline1{
  font-size: x-large;
  color: white;
  }
.invite-secondline2{
  font-size: larger;
  color: white;
}
.invite-thirdline3{
  font-size: initial;
  color: white;
}
.invite-margin{
   margin-left: 28px;
   margin-right: 10px;
}

.invite-image{
  height: 64px;
}
.invite-headercolor{
  background-color: #3399cc !important;
}

/*invite friends page ends*/