/*Profile Password Page*/
.profile-nav .user-heading {
  background-image: url('../img/material-graphite.jpg');
  color: #fff;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  padding: 15px;
  text-align: center;
}

.profile-nav .user-heading.round a {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 5px solid rgba(255,255,255,0.3);
  display: inline-block;
  margin-bottom: 15px;
}

.profile-nav .user-heading a img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.profile-nav .panel {
  margin: 0;
}

.profile-icon-edit {
  margin-right: 50px;
  font-size: 25px;
}

.profile-icon-setting {
  margin-left: 50px;
  font-size: 25px;
}

.profile-input {
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.profile-input-background {
  background: lightgray;
}

.profile input:disabled {
  background: white;
}

.profile-nav {
  padding: 0;
}

/*Profile Password Page End*/