/*Register Page*/
.register-whole{
margin-left: 30px;
margin-right: 30px;
margin-top: 24px;
}

.register-background{
background-color: #2c88bb;
}

.register-image{
height: 50px;
    font-size: 20px;
    color: white;
}

.register-first{
border-left: 0px;
border-right: 0px;
border-top: 0px;
}
.register-second{
border-left: 0px;
border-right: 0px;
}

.register-button-form{
border-radius: 30px;
}

.register-colour{
color: white;
font-weight: 300;
}
/*Register Page End*/
form#RegisterForm {color: #FFF;font-weight: 300; }
form#RegisterForm label.item-input { padding: 0; }
form#RegisterForm input { color: #FFF; }



 .invite-placecolor{
color: white;
} 


input::-webkit-input-placeholder
{
color:white;
}