/*SideMenu Page*/
.sidemenu-header{
  transform: translate3d(0px, 0px, 0px);
  text-align: center !important;
}

.plug-home{
  background-repeat: no-repeat;
  background-position:center;
  background-image: url('../img/icon/home.png');
  background-size: 30px;
}

.plug-fav{
  background-repeat: no-repeat;
  background-position:center;
  background-image: url('../img/icon/fav.png');
  background-size: 30px;
}

.plug-sell{
  background-repeat: no-repeat;
  background-position:center;
  background-image: url('../img/icon/sell.png');
  background-size: 30px;
}

.plug-profile{
  background-repeat: no-repeat;
  background-position:center;
  background-image: url('../img/icon/profile.png');
  background-size: 30px;
}

.plug-filter{
  background-repeat: no-repeat !important;
  background-position:center !important;
  background-image: url('../img/icon/filter.png') !important;
  background-size: 20px !important;
}

.plug-hamburger{
  background-repeat: no-repeat !important;
  background-position:center !important;
  background-image: url('../img/icon/hamburger.png') !important;
  background-size: 20px !important;
}

.plug-explore{
  background-repeat: no-repeat !important;
  background-position:center !important;
  background-image: url('../img/icon/explore.png') !important;
  background-size: 20px !important;
}

.plug-cell-text{
  padding-top: 32px;
  font-size: 9px;
}
/*SideMenu Page End*/