@media screen and (orientation:portrait) {
/*Wizard Page*/

.bar.bar-light {
        background-color: #3399cc !important;
       

}
.bar.bar-light .title {
    color: #fff;
}
.bar .button.button-clear {
    color: #fff !important;
}

.tabs-positive>.tabs, .tabs.tabs-positive{
background-color: #3399cc !important;
    border:none;

}
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    background:#136da1;
}

.bar .tab-fab{
background-color: #3399cc;
    
}

.bar .button.button-fab, .button.button-fab{

  box-shadow: none;
}
  .wizard-one {
    height: 100%;
    background: url(../img/portrait/walkover-one.png) center;
    background-size: cover;
  }

  .wizard-two {
    height: 100%;
    background: url(../img/portrait/walkover-two.png) center;
    background-size: cover;
  }

  .wizard-three {
    height: 100%;
    background: url(../img/portrait/walkover-three.png) center;
    background-size: cover;
  }

  .wizard-four {
    height: 100%;
    background: url(../img/portrait/walkover-three.png) center;
    background-size: cover;
  }
/*Wizard Page End*/

/*Login Page*/
  .login-page {
    height: 100%;
    background-size: cover;
    background: linear-gradient(to bottom, transparent 0%, transparent 60%, white 100%), url(../img/portrait/login.jpg) no-repeat;
  }
}

@media screen and (orientation:landscape) {
/*Wizard Page*/
  .wizard-one {
    height: 100%;
    background: url(../img/landscape/walkover-one.png) center;
    background-size: cover;
  }

  .wizard-two {
    height: 100%;
    background: url(../img/landscape/walkover-two.png) center;
    background-size: cover;
  }

  .wizard-three {
    height: 100%;
    background: url(../img/landscape/walkover-three.png) center;
    background-size: cover;
  }

  .wizard-four {
    height: 100%;
    background: url(../img/landscape/walkover-three.png) center;
    background-size: cover;
  }
/*Wizard Page End*/

/*Login Page*/
  .login-page {
    height: 100%;
    background-size: cover;
    background: linear-gradient(to bottom, transparent 0%, transparent 60%, white 100%), url(../img/landscape/login.jpg) no-repeat;
  }
}

/*Common*/
.plug-float-left {
  float: left !important;
}

.plug-float-right {
  float: right !important;
}

.scroll {
  height: 100%;
}

.ion-android-arrow-back{
  color: #51AA50;
}

.hr-border {
  color: #cccccc !important;
  margin: 0;
  border-top: 1px solid grey;
}

.plug-color {
  color: black !important;
}

.plug-backdrop {
  z-index: 10;
}


/*Common End*/

