/*Wizard Page*/ 
.wizard-space {
  padding-top: 30px;
}
.wizard-space h2 {font-size:28px; font-weight: 400;}
.wizard-space .page3-text {padding: 0 15px;text-align: justify;line-height: 21px;font-weight: normal;}

.wizard-color {
  color: #067abd;
}

.wizard .slider-pager .slider-pager-page {
  color: #067abd;
}

.wizard-background {
  min-height: 560px;
}

.page3 {
  text-align: left;
  padding-left: 16px;
}
.btn-new {text-transform: none;
    font-weight: 300;
    color: #6a6a6a;
    font-size: 15px;
}

.slider-pager i { font-size:80%; color:#aaa; }
.slider-pager span.active i {
    color: #067abd;
}

.page3-text {
  text-align: left;
  padding-left: 16px;
  padding-right: 5px;
}

.page4 {
  text-align: left;
  padding-left: 16px;
}

.page4 {
  font-size: 18px;
  text-align: left;
  padding-left: 16px;
}

.page4-text {
  text-align: left;
  padding-left: 16px;
  padding-right: 5px;
}

.wizard .slider {
  height: 100%;
  text-align: center;
}

.wizard .slider-container {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider-container {
  margin: 0;
  padding: 0;
  position: relative;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.tab-fab {
  left: calc(50% - 28px) !important;
  top: -75px !important;
}

/*Wizard Page End*/