/*yourorders page start*/

.yourorders-chevron{
  float: right;
}

 .yourorders-subheader{
    margin-top: -98px ;
    background-color: lightgray;
} 
.yourorders-span{
    margin-top: 50px;
    margin-bottom: 12px;
}
.yourorders-vieworder{
  float: right;
}
.yourorders-footer{
  background-color: lightgray;
}
.yourorders-image{
    border: 1px solid;
    border-radius: 1px !important;
}
.yourorders-color{
    color: #067abd;
}
.yourorders-icon{
    margin-top: -38px;
}
.yourorders-subcolor{
    color: #89c0df;
}
.yourorders-text{
    margin: auto ;
}
/*yourorders page end*/