/*invite friends page start*/
.invite-background{
   background-image: url('../img/invite-background.jpg');
   height: 229px;

}

  .invite-topspace{
    margin-top: 50px;
  }

.invite-firstline1{
  font-size: x-large;
  color: white;
  }
.invite-secondline2{
  font-size: larger;
  color: white;
}
.invite-thirdline3{
  font-size: initial;
  color: white;
}
.invite-margin{
   margin-left: 28px;
   margin-right: 10px;
}

.invite-image{
  height: 43px
}
.invite-headercolor{
  background-color: #3399cc !important;
}

.invite-row{
  display: flex;
}

.invite-facebook{
  border-width: 1px;
  border-right-style: solid;
  padding: 32px 0;
  border-image:
    linear-gradient(to top, gray, rgba(0, 0, 0, 0)) 1 100%;
}

.invite-insta{
  border-width: 1px;
  border-right-style: solid;
  padding: 32px 0;
  border-image:
    linear-gradient(to bottom, gray, rgba(0, 0, 0, 0)) 1 100%;
}

.invite-horizontal{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), gray, rgba(0, 0, 0, 0));
  margin: 0;
}

.invite-twitter{
  padding: 32px 0;
}

/*invite friends page ends*/