/*Login Page*/
.logo {
    /*background: rgba(0, 0, 0, 0) url(../img/plug-logo.png) repeat scroll center center / cover;*/
    border-radius: 0%;
    margin: 0 auto;
    width: 100%;
    max-width: 130px;
    /*height: 125px;*/
    height: auto;
    /*margin-top: 30px;
    margin-bottom: 40px;*/
    padding: 10px 0 20px 0;
    box-sizing: border-box;
}
.logo img {width: 100%; height: auto;}
.login-label {
  padding: 6px 0px 0px 56px;
}

.login-label-pincode {
  padding: 0;
  margin-top: 0;
}
.login-page .list-inset{

  margin: 0;
}
.textCenter { text-align: center; }
.paddingTop20 {padding-top: 20px;}
.hrLine::before, .hrLine::after {
    display: inline-block;
    content: "";
    border-top: .1rem solid black;
    width: 25%;
    margin: 0 0.5rem;
    transform: translateY(-1rem);
    position: relative;
    top: 5px;
}
p.btmText { font-size: 15px; font-weight: 400; }
.button-bar button.ion-social-facebook.login-social.login-fb, .button-bar button.ion-social-twitter.login-twitter.login-social, 
.button-bar button.ion-social-instagram.login-social.login-insta { 
    min-height: auto;
    border-radius: 6px;
    font-weight: 300;
    font-size: 25px;
    padding: 0;
    display: inline-block;
}

.login-page div.list-inset { border-radius:6px; margin-bottom:10px;}

.login-input-pincode {
  width: 100%;
  padding-left: 10px !important;
}

.login-go {
  padding: 0;
  width: 55px;
  background-color: orange;
  color: white;
}

.login-social {
  font-size: 30px;
  margin-right: 10px;
}

.login-down {
  float: right;
  font-size: 11px;
}

.login-font{
  font-size: 9px;
}

.button-bar{
  box-shadow: 0 0px 0px 0px rgba(0,0,0,.15);
}
.login-fb{
  background-color: navy !important;
  color: white;

}

.login-insta{
  background-color: #517fa1 !important;
  color: white;
}

.login-twitter{
  background-color: #387ef5 !important;
  color: #fff
}

::-webkit-input-placeholder {
    color: #8b8b8b !important;
}
*:-moz-placeholder {
color: #8b8b8b !important;
}
*:-ms-input-placeholder { / IE10+ */
color: #8b8b8b !important;
}

input::-webkit-input-placeholder {
color: #8b8b8b;
}
input:focus::-webkit-input-placeholder {
color: #8b8b8b;
}
/*Login Page End*/
