.down-space{
    margin-bottom: 10px;
}
.product-images h4{
    float: left;
    font-weight: lighter;
    padding-right: 8px;
}
.product-images .text-muted{
    font-size: 10px;
    padding-top: 14px;
}
.form-description .form-control{
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding-left: 10px;
}
.submit-btn button,.submit-btn button:hover,.submit-btn button:active,.submit-btn button:focus,.submit-btn button:visited{
    width: 54%;
    border-radius: 26px;
    color: #fff;
    background-color: #065786;
    border-color: #065786;
}

.images img{
    width: 20%;
    margin-right: 10px;
    float: left;
}
.images .col-sm-12{
    overflow: hidden;
}
.add-new-images{
    padding: 12px 0px;
}